:root {
    --background-color: #26252A;
    --primary-green: #54DD64;
    --white: #FFFFFF;
    --gray-light: #F5F5F5;
    --gray-dark: #333333;
    --gradient-green: rgba(84, 221, 100, 0.2);
} 